{% extends 'base.html' %}


{% block content %}

<section class="section-conten padding-y" style="min-height:84vh">
    <div class="container">
<!-- ============================ COMPONENT LOGIN   ================================= -->

        <div class="row" >
            <div class="offset-4 col-4">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title mb-4">เข้าสู่ระบบ</h4>
                        {% include 'includes/alerts.html' %}
                        <form action="{% url 'login' %}" method="POST">
                            {% csrf_token %}
                            {% for field in login_forms.visible_fields %}
                                <div class="row mb-3">
                                    <div class="col-12">
                                        <label class="form-label" for="">{{field.label}}</label>
                                            {{field}}
                                            {% for error in field.errors %}
                                                <span>{{error}}</span>
                                            {% endfor %}
                                    </div>  
                                </div>
                            {% endfor %}
                            <div class="row">
                                <div class="col-12">
                                    <button type="submit" class="btn btn-primary btn-block"> เข้าสู่ระบบ </button>
                                </div>
                            </div> <!-- form-group// -->
                        </form>
                    </div> <!-- card-body.// -->
                </div>
                <p class="text-center mt-4">ยังไม่มีบัญชี? <a href="{% url 'register' %}">สมัครสมาชิก</a></p>
            </div> <!-- card .// -->
        </div>

            
<!-- ============================ COMPONENT LOGIN  END.// ================================= -->
    </div>
</section>
{% endblock %}