{% extend 'base.html' %}
{% block content %}
<section>
    <div class="container">
        <div class="row">
            <main class="offset-3 col-md-6">
                <article class="card">
                    <header class="card-header">
                        <strong class="d-inline-block mr-3"></strong>
                        <span>ตั้งค่ารหัสผ่านใหม่</span>
                    </header>
                    <div class="card-body">
                        <div class="row">
                            <div class="offset-4 col-4">
                                <!-- form ตั้งค่ารหัสผ่านใหม่-->
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-block"> ยืนยันรหัสผ่านใหม่ </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </main>
        </div> 
    </div>
</section>
{% endblock %}