{% extends 'base.html' %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <main class="offset-3 col-md-6">
                <article class="card">
                    <header class="card-header">
                        <strong class="d-inline-block mr-3"></strong>
                        <span>ตั้งค่ารหัสผ่านใหม่</span>
                    </header>
                    <div class="card-body">
                        <form action="{% url 'reset_password' %}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="email">อีเมล</label>
                                <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email">
                            </div>
                            <div class="form-group">
                                <label for="new_password">รหัสผ่านใหม่</label>
                                <input type="password" class="form-control" id="new_password" name="new_password" placeholder="New password">
                            </div>
                            <div class="row">
                                <div class="offset-4 col-4">
                                    <button type="submit" class="btn btn-primary btn-block">ยืนยันรหัสผ่านใหม่</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </article>
            </main>
        </div> 
    </div>
</section>
{% endblock %}
