{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report Collection </title>
    <!-- เชื่อมโยงไฟล์ CSS ของ Bootstrap -->
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">

    <!-- เชื่อมโยงไฟล์ JavaScript ของ Bootstrap -->
    <script src="{% static 'bootstrap.min.js' %}"></script>
    
    <!-- เชื่อมโยงไฟล์ CSS จากโฟลเดอร์ fonts -->
    <link rel="stylesheet" href="{% static 'fonts/all.css' %}">

</head>
<body>
    {% block content %}
     <!-- content -->
    {% endblock %}

    
</body>
</html>