{% extends 'base_empty.html' %}

{% block content %}
    <section class="section-conten padding-y" style="min-height:84vh">
        <div class="container">
            <div class="row">
                <div class="offset-4 col-4">
                    {% include 'includes/alerts.html' %}
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title mb-4">เข้าสู่ระบบของแอดมิน</h4>
                            <form action="{% url 'admin_login' %}" method="POST">
                                {% csrf_token %}
                                <div class="row">
                                    {% for field in admin_login.visible_fields %}
                                    <div class="col-12">
                                        <label class="form-label" for="">{{field.label}}</label>
                                            {{field}}
                                            {% for error in field.errors %}
                                                <span>{{error}}</span>
                                            {% endfor %}
                                    </div>
                                    {% endfor%}
                                </div>
                                <button type="submit" class="btn btn-primary btn-block mt-2"> เข้าสู่ระบบ </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}